{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    {% if show_hr_buttons %}
    <li>
        <a href="{% url 'admin:admin_dashboard' %}" class="viewlink">Dashboard</a>
    </li>
    <li>
        <a href="{% url 'admin:admin_accounting' %}" class="viewlink">Accounting</a>
    </li>
    <li>
        <a href="{% url 'admin:admin_payments' %}" class="viewlink">Payments</a>
    </li>
    <li>
        <a href="{% url 'admin:admin_showinvoice' %}" class="viewlink">Show Invoice</a>
    </li>
    <li>
        <a href="{% url 'admin:admin_crtdoc' %}" class="viewlink">Create Doctor</a>
    </li>
    <li>
        <a href="{% url 'admin:admin_updatedoc' %}" class="viewlink">Update Doctor</a>
    </li>
    <li>
        <a href="{% url 'admin:admin_deletedoc' %}" class="viewlink">Delete Doctor</a>
    </li>
    <li>
        <a href="{% url 'admin:admin_send' %}" class="viewlink">Send Payment Reminder</a>
    </li>
    {% endif %}
{% endblock %}